In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(
    bootstrap_servers='localhost:9092',
    value_serializer=lambda v: json.dumps(v).encode('utf-8')
)

In [3]:
df = pd.read_csv("indexProcessed.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [4]:
df.isnull().sum()

Index        0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
CloseUSD     0
dtype: int64

In [5]:
df.shape

(104224, 9)

In [6]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
8589,NYA,1966-05-19,484.809998,484.809998,484.809998,484.809998,484.809998,0.0,484.809998

In [7]:
df.Index.unique()

array(['HSI', 'NYA', 'IXIC', '000001.SS', 'N225', 'N100', '399001.SZ',
       'GSPTSE', 'NSEI', 'GDAXI', 'SSMI', 'TWII', 'J203.JO'], dtype=object)

In [8]:
df.sample(1,replace=False).to_dict(orient="records")[0]

{'Index': 'NYA',
 'Date': '1999-10-04',
 'Open': 6350.47998,
 'High': 6350.47998,
 'Low': 6350.47998,
 'Close': 6350.47998,
 'Adj Close': 6350.47998,
 'Volume': 0.0,
 'CloseUSD': 6350.47998}

In [10]:
while True:
    dict_stock = df.sample(1,replace=False).to_dict(orient="records")[0]
    producer.send('demo_test5', value=dict_stock)
    # sleep(0.2)

KeyboardInterrupt: